@font-face { font-family: limit; src: url('./assets/fonts/8-bit-limit/8bitlim.ttf'); }
@font-face { font-family: limit-outline; src: url('./assets/fonts/8-bit-limit/8bitlimo.ttf'); }

body {
    width: 100%;
    margin: 0;
}

.App {
    text-align: center;
    background-color: #282c34;
  }
  
  .App-header {
    background-color: #282c34;
    height: 3rem;
    display: flex;
    font-family: Brutal Font Pro;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(218, 57, 57);
  }
  
  .App-body{
    margin: 0 !important;
    background-color: brown;
    height: 100%;
    /* overflow for mobile only */
    overflow-y: auto;
  
    .flex-grid {
      display: flex;
      flex-direction:column;
    }
   
    .versus {
      font-family: Brutal Font Pro;
      font-size: 3rem;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: limit;
        font-size: 5rem;
        height: 20rem;
        width: 100%;
    }  
    .button {
        padding-bottom: 5rem;
    }

    .cloud-1, .cloud-2 {
        position: sticky;
        top: 1rem;
        height: 15rem;
        width: 10rem;
        text-align: center;
    }

    .cloud-1 {
    right: 500px;
    }

    .cloud-1 img {
        width: 700px;
        left: -100%;
        position:absolute;
    }
    
    .cloud-2 {
    left: 10%;
    }

    .monsterTitle {
        font-family: limit-outline;
        font-size: 2rem;
    }

    .monsterStat {
        font-family: limit-outline;
        font-size: 1rem;
    }
}

.animateCloud1 {
    animation-duration: 5s;
    animation-name: animate-cloud-1;
    animation-fill-mode: forwards;
}

@keyframes animate-cloud-1 {
    
    10% {
        transform: translate(100%);
    }
    50% {
        transform: translate(-200%);
    }
    100% {
        transform: translate(-300%);
        opacity: 0;
    }
}

.animateCloud2 {
    animation-duration: 5s;
    animation-name: animate-cloud-2;
    animation-fill-mode: forwards;
}

@keyframes animate-cloud-2 {
    10% {
        transform: translate(-100%);
    }
    50% {
        transform: translate(200%);
    }
    100% {
        transform: translate(300%);
        opacity: 0;
    }
}

.at-rest {
    display: inline-block;
}

.animateZoom {
    animation-duration: 2s;
    animation-name: animate-zoom;
}

@keyframes animate-zoom {
    20% {
        transform: scale(2);
    }
}

.animateBattle {
    animation-duration: 5s;
    animation-name: animate-battle;
    animation-fill-mode: forwards;
}

@keyframes animate-battle {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.25);
    }
    10% {
        transform: scale(1.5);
    }
    15% {
        transform: scale(1.75);
    }
    20% {
        transform: scale(2);
    }
    100% {
        transform: scale(200) translate3D(100vw, -200vh, 0) rotate(0);
        display: none;
    }
}
  
@media only screen and (min-width: 1000px) {
    .App-body {
        overflow-y:inherit;
    }
}