body {
    margin: 0;
}

.App {
    text-align: center;
    background-color: #282c34;
  }
  
  .App-header {
    background-color: #282c34;
    height: 20vh;
    display: flex;
    font-family: Brutal Font Pro;
    font-size: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(176, 0, 0);
  }
  
  .App-body{
    margin: 0 !important;
    background-color: brown;
  
    .flex-grid {
      display: flex;
    }
    .col {
      flex: 1;
    }
    .versus{
      font-family: Brutal Font Pro;
      font-size: 4rem;
    }
    .title {
        height: 300px;
    }  
}

  .battle {
    display: inline-block;
}

.animateBattle {
    animation-duration: 5s;
    animation-name: animate-battle;
}

@keyframes animate-battle {
    0% {
        transform: scale(1) rotate(10deg);
    }
    5% {
        transform: scale(1.25) rotate(-15deg);
    }
    10% {
        transform: scale(1.5) rotate(5deg);
    }
    15% {
        transform: scale(1.75) rotate(-10deg);
    }
    20% {
        transform: scale(2) rotate(0);
    }
    100% {
        transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0);
    }
}
  