@font-face { font-family: limit; src: url('./assets/fonts/8-bit-limit/8bitlim.ttf'); }
@font-face { font-family: limit-outline; src: url('./assets/fonts/8-bit-limit/8bitlimo.ttf'); }


body {
    margin: 0;
}

.App {
    text-align: center;
    background-color: #282c34;
  }
  
  .App-header {
    background-color: #282c34;
    height: 20vh;
    display: flex;
    font-family: Brutal Font Pro;
    font-size: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(176, 0, 0);
  }
  
  .App-body{
    margin: 0 !important;
    background-color: brown;
  
    .flex-grid {
      display: flex;
    }
    .col {
      flex: 1;
    }
    .versus{
      font-family: Brutal Font Pro;
      font-size: 4rem;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: limit;
        font-size: 5rem;
        height: 200px;
    }  
    .button {
        padding-bottom: 5rem;
    }

    .monsterTitle {
        font-family: limit-outline;
        font-size: 2rem;
    }

    .monsterStat {
        font-family: limit-outline;
        font-size: 1rem;
    }
}

.at-rest {
    display: inline-block;
}

.animateAre {
    animation-duration: 2s;
    animation-name: animate-are;
}

@keyframes animate-are {
    20% {
        transform: scale(2);
    }
}

.animateYou {
    animation-duration: 5s;
    animation-name: animate-you;
}

@keyframes animate-you {
    20% {
        transform: scale(2);
    }
}

.animateReady {
    animation-duration: 5s;
    animation-name: animate-ready;
}

@keyframes animate-ready {
    20% {
        transform: scale(2);
    }
}

.animateTo {
    animation-duration: 5s;
    animation-name: animate-to;
}

@keyframes animate-to {
    20% {
        transform: scale(2);
    }
}
.animateBattle {
    animation-duration: 5s;
    animation-name: animate-battle;
}

@keyframes animate-battle {
    0% {
        transform: scale(1) rotate(10deg);
    }
    5% {
        transform: scale(1.25) rotate(-15deg);
    }
    10% {
        transform: scale(1.5) rotate(5deg);
    }
    15% {
        transform: scale(1.75) rotate(-10deg);
    }
    20% {
        transform: scale(2) rotate(0);
    }
    100% {
        transform: scale(200) translate3D(100vw, -200vh, 0) rotate(0);
    }
}
  